<%= form_with(model: cnab, local: true) do |form| %>
  <% if cnab.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cnab.errors.count, "error") %> prohibited this cnab from being saved:</h2>

      <ul>
        <% cnab.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :name %>
  <%= form.file_field :file %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
